@font-face {
    font-family: "flaticon_648d47e68423808a6c7f";
    src: url("./flaticon_648d47e68423808a6c7f.ttf?e0a29e47b63e01da46b7bbc9f282bcf2") format("truetype"),
url("./flaticon_648d47e68423808a6c7f.woff?e0a29e47b63e01da46b7bbc9f282bcf2") format("woff"),
url("./flaticon_648d47e68423808a6c7f.woff2?e0a29e47b63e01da46b7bbc9f282bcf2") format("woff2"),
url("./flaticon_648d47e68423808a6c7f.eot?e0a29e47b63e01da46b7bbc9f282bcf2#iefix") format("embedded-opentype"),
url("./flaticon_648d47e68423808a6c7f.svg?e0a29e47b63e01da46b7bbc9f282bcf2#flaticon_648d47e68423808a6c7f") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_648d47e68423808a6c7f !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-001-website:before {
    content: "\f101";
}
.flaticon-002-github:before {
    content: "\f102";
}
.flaticon-003-linkedin:before {
    content: "\f103";
}
.flaticon-004-github-1:before {
    content: "\f104";
}
